In [1]:
print('hello')
print("Hello world")
print('''Welcome''')

hello
Hello world
Welcome

In [2]:
a = 'Hello' # a = 10
a # calling the variable

'Hello'

In [3]:
print(type(a))
print(len(a))
len('Hello world')

<class 'str'>
5

11

In [4]:
# In python the index starts from 0

a = 'string 123'
len(a)

# While moving reverse the index starts from -1
# -10  -9   -8  -7   -6  -5   -4   -3   -2   -1
# s    t    r    i    n    g       1    2    3 
# 0    1    2    3    4    5   6   7    8    9
# While moving forward the index starts from 0

10

In [5]:
s = 'hello world'
# variable_name[index]
s[0]

# -11 -10 -9 -8 -7 -6 -5 -4 -3  -2  -1 
#  h  e   l  l  o     w  o  r   l   d
#  0  1   2  3  4  5  6  7  8   9   10

'h'

In [6]:
s[0],s[-11]

('h', 'h')

In [7]:
s[-1], s[10]

('d', 'd')

In [8]:
s

'hello world'

In [9]:
# variable_name[start_index : end_index]

s[:]

'hello world'

In [10]:
s[0:]

'hello world'

In [11]:
s

'hello world'

In [12]:
s[:10] # end_index - 1 = 10 - 1 = 9. Till 9th index the value will be taken
# By default the start index will be 0

'hello worl'

In [13]:
s[:-1] #end_index - 1

'hello worl'

In [14]:
s[3:8] #end_index - 1

'lo wo'

In [1]:
a = 20 # int
b = 'Hello' # string
c = 10.07 # float

a + c #tries to add two same number type

30.07

In [2]:
a + b #tries to combine two diffrent datatypes

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [3]:
type(b), type(a),type(c)

(str, int, float)

In [18]:
10, '10'

(10, '10')

In [19]:
10, str(10) # coverting int to string

(10, '10')

In [20]:
type(a), a, str(a), type(b)

(int, 20, '20', str)

In [21]:
str(a) + b # manually converted a from integer to string

'20Hello'

In [1]:
a = 'Hello WORLD'
# variable_name.tab_buttom
a.capitalize?

In [2]:
print(a)
a.capitalize()
#capitalize only first letter

Hello WORLD

'Hello world'

In [25]:
a # a = a.capitalize()

'Hello WORLD'

In [26]:
print(a)
a.title()
#each words first letter will b in upper case

Hello WORLD

'Hello World'

In [ ]:
print(a)
a = a.upper() # Reassignment
a

In [ ]:
a.lower()

In [ ]:
print(a)
a.count('O')

In [3]:
print(a)
a.split()

Hello WORLD

['Hello', 'WORLD']

In [ ]:
print(a)
a.split('O')
# ['Hell',' w', 'rld']

In [4]:
a = '1234a'
print(type(a))
print(a.isdigit()) # If a method starts with 'is', it returns only True or False
print(a.isalpha()) # alpha is alphabets
print(a.isalnum()) # alnum is alphabet and number combination

<class 'str'>
False
False
True

In [ ]:
a = 'Hello World'
print(a.isupper()) # Checking whether it is in uppercase
a.islower() # Checking whether it is in lowercase

In [ ]:
print(a)
a = a.replace('W','w')
a

In [5]:
a = 'Python'
'I am learning a'

'I am learning a'

In [6]:
'I am learning ' + a

'I am learning Python'

In [7]:
# a = input('Enter a name: ')
print('I am learning {}'.format(a))

I am learning Python