In [1]:
a = [1,2,3,50.55,55.55,'Hello', 'World']
print(type(a))
print(a)

<class 'list'>
[1, 2, 3, 50.55, 55.55, 'Hello', 'World']

In [2]:
a[0], a[-1]

(1, 'World')

In [3]:
a[0:5]

[1, 2, 3, 50.55, 55.55]

In [4]:
a

[1, 2, 3, 50.55, 55.55, 'Hello', 'World']

In [5]:
a[-1].upper()

'WORLD'

In [6]:
print(a)
a[-1] = a[-1].upper() # MUTABLE
a[0] = 20 # MUTABLE
a

[1, 2, 3, 50.55, 55.55, 'Hello', 'World']

[20, 2, 3, 50.55, 55.55, 'Hello', 'WORLD']

In [7]:
a = [1,2,3,4,5,6]
# variable_name.tab_button
a.clear?

In [8]:
print(a)
a.append(10) # to add values to the existing list
a

[1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6, 10]

In [11]:
print(a)
a.append([10,20,1,2,3,5])
a

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 60]

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 60, [10, 20, 1, 2, 3, 5]]

In [9]:
a[-1]

10

In [10]:
a = [1,2,3,4,5]
print(a)
a.extend([10,20,30,40,50,60])
a

[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 60]

In [ ]:
# [1, 2, 3, 4, 5, 6, 10, [10, 20, 1, 2, 3, 5]]
# [1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 60]

In [12]:
print(a)
a.pop() # It will delete the last index
a

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 60, [10, 20, 1, 2, 3, 5]]

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 60]

In [13]:
print(a)
a.pop(1) #index
a

[1, 2, 3, 4, 5, 10, 20, 30, 40, 50, 60]

[1, 3, 4, 5, 10, 20, 30, 40, 50, 60]

In [14]:
print(a)
a.insert(5,55) # to a particular index it will insert a value
a

[1, 3, 4, 5, 10, 20, 30, 40, 50, 60]

[1, 3, 4, 5, 10, 55, 20, 30, 40, 50, 60]

In [15]:
print(a)
a.remove(1) # Value
a

[1, 3, 4, 5, 10, 55, 20, 30, 40, 50, 60]

[3, 4, 5, 10, 55, 20, 30, 40, 50, 60]

In [16]:
print(a)
a.count(10) , a.count('a') # value

[3, 4, 5, 10, 55, 20, 30, 40, 50, 60]

(1, 0)

In [ ]:
print(a)
a.index(20) # value

In [17]:
b = a.copy()
b, a

([3, 4, 5, 10, 55, 20, 30, 40, 50, 60], [3, 4, 5, 10, 55, 20, 30, 40, 50, 60])

In [19]:
print(a)
a.clear()
a

[1, 2, 2, 2, 3, 4, 4, 6, 8, 10]

[]

In [18]:
a = [1,4,3,2,4,6,8,2,2,10]
a.sort()
a

[1, 2, 2, 2, 3, 4, 4, 6, 8, 10]

In [ ]:
a.sort(reverse = True)
a

In [20]:
a = [1,2,65,98,12]
a.reverse()
a

[12, 98, 65, 2, 1]

In [21]:
a = [1,2,3]
b = [3,4,5]
c = [a,b]
c

[[1, 2, 3], [3, 4, 5]]

In [ ]:
print(c)
print(type(c))
c[0]

In [22]:
print(c)
print(c[0])
c[0][2]

[[1, 2, 3], [3, 4, 5]]
[1, 2, 3]

3

In [23]:
c[0][0:-1]

[1, 2]

In [24]:
c[0]

[1, 2, 3]

In [25]:
c[0].append(10)
c

[[1, 2, 3, 10], [3, 4, 5]]