In [27]:
# {}
# {'Key' : 'Value', 'Key1' : 'Value1'}
# Keys should be unique

d = {'a' : 1, 'b' : 10.55, 'c' : 'Hello', 'd' : [1,2,3,4]}
print(d)
#variable_name[key]
d['a'], d['d']

{'a': 1, 'b': 10.55, 'c': 'Hello', 'd': [1, 2, 3, 4]}

(1, [1, 2, 3, 4])

In [28]:
print(d)
d['a'] = d['a'] * 10 # 1 * 10
d

{'a': 1, 'b': 10.55, 'c': 'Hello', 'd': [1, 2, 3, 4]}

{'a': 10, 'b': 10.55, 'c': 'Hello', 'd': [1, 2, 3, 4]}

In [29]:
print(d)
d['c'] = d['c'].upper()
d

{'a': 10, 'b': 10.55, 'c': 'Hello', 'd': [1, 2, 3, 4]}

{'a': 10, 'b': 10.55, 'c': 'HELLO', 'd': [1, 2, 3, 4]}

In [30]:
print(d)
d['d'].append(10)
d

{'a': 10, 'b': 10.55, 'c': 'HELLO', 'd': [1, 2, 3, 4]}

{'a': 10, 'b': 10.55, 'c': 'HELLO', 'd': [1, 2, 3, 4, 10]}

In [31]:
d = {}
print(d)
print(type(d))

#variable_name[key] = value
d['a'] = 10
d['b'] = 'Hello'
d['c'] = ['Dog','Cat']
d

{}
<class 'dict'>

{'a': 10, 'b': 'Hello', 'c': ['Dog', 'Cat']}

In [32]:
d.keys()

dict_keys(['a', 'b', 'c'])

In [33]:
d.values()

dict_values([10, 'Hello', ['Dog', 'Cat']])

In [34]:
d.items()

dict_items([('a', 10), ('b', 'Hello'), ('c', ['Dog', 'Cat'])])

In [35]:
print(d)
d.pop('a') # key
d

{'a': 10, 'b': 'Hello', 'c': ['Dog', 'Cat']}

{'b': 'Hello', 'c': ['Dog', 'Cat']}

In [36]:
print(d)
d.popitem()
d

{'b': 'Hello', 'c': ['Dog', 'Cat']}

{'b': 'Hello'}

In [37]:
# d['b'] = 20
# d['c'] = 'Hello'
print(d)
d.update(b = 20, c = 'Hello')
d

{'b': 'Hello'}

{'b': 20, 'c': 'Hello'}

In [38]:
print(d)
# d['b']
d.get('b')

{'b': 20, 'c': 'Hello'}

20

In [39]:
d = {'a' : {'b' : {'c' : 10}}, 'e' : 20}
d

{'a': {'b': {'c': 10}}, 'e': 20}

In [40]:
type(d)

dict

In [41]:
print(d)
d.keys()

{'a': {'b': {'c': 10}}, 'e': 20}

dict_keys(['a', 'e'])

In [42]:
print(d)
d.values()

{'a': {'b': {'c': 10}}, 'e': 20}

dict_values([{'b': {'c': 10}}, 20])

In [43]:
d

{'a': {'b': {'c': 10}}, 'e': 20}

In [44]:
d['c']

KeyError: 'c'

In [45]:
d['a']['b']['c'], d['e']

(10, 20)

In [72]:
# ()
# Immutable
a = (1,2,'Hello')
print(a)
type(a)

(1, 2, 'Hello')

tuple

In [73]:
a[0], a[-1]#indexing in tuple

(2, 'Hello')

In [75]:
a[1:3] #slicing in tuple

(2, 'Hello')

In [49]:
a[0] = 20#once a avalue is assigned,it cannot be changed

TypeError: 'tuple' object does not support item assignment

In [50]:
a.count(1)

1

In [51]:
a.index('Hello')# value, returns the lowest index of the object

2

In [52]:
a = [1,2,3,4,5,4,3,1,2,3,4,6,7,8,5,4,2,1,10,3,5,2,1]
set(a) # unique values

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [53]:
b = set(a)
print(b)
type(b)

{1, 2, 3, 4, 5, 6, 7, 8, 10}

set

In [54]:
a = {1,2,3,4,5,6, 'string'}
b = {1,2,3,4,5,6,7,8,9}
a,b

({1, 2, 3, 4, 5, 6, 'string'}, {1, 2, 3, 4, 5, 6, 7, 8, 9})

In [55]:
print(a),print(b)
set(a) - set(b) # Values present in set a but not in set b

{1, 2, 3, 4, 5, 6, 'string'}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

{'string'}

In [56]:
print(a),print(b)
set(b) - set(a)

{1, 2, 3, 4, 5, 6, 'string'}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

{7, 8, 9}

In [57]:
print(a),print(b)
a.intersection(b), b.intersection(a)

{1, 2, 3, 4, 5, 6, 'string'}
{1, 2, 3, 4, 5, 6, 7, 8, 9}

({1, 2, 3, 4, 5, 6}, {1, 2, 3, 4, 5, 6})

In [58]:
a.union(b), b.union(a)

({1, 2, 3, 4, 5, 6, 7, 8, 9, 'string'}, {1, 2, 3, 4, 5, 6, 7, 8, 9, 'string'})

In [59]:
x = set()
x

set()

In [60]:
x.add(1)
x

{1}

In [61]:
x.add(2)
x

{1, 2}

In [62]:
x.add(1)
x

{1, 2}

In [63]:
a = '1234'
a.isdigit()

# True, False 
# These are called boolean values

# > ---> Greater than
# < ---> Less than
# >= ---> Greater than or equal to
# <= ---> Less than or equal to
# == ---> Equal to
# != ---> Not equal to

True

In [64]:
10 > 20, 20 < 30, 1 == 1

(False, True, True)

In [65]:
# and ---> return true only when all the given conditions are true
#             else it return false
# or ---> return true if  any one of the given conditions are true
#             if all the conditions are False then it return False

In [66]:
10 > 5 > 3

True

In [67]:
10 > 5 and 5 > 3
#  T         T

True

In [68]:
10 > 5 and 3 > 3
#  T         F

False

In [69]:
10 > 5 or 3 > 3
#  T        F

True

In [70]:
10 < 5 or 3 > 3
#  F        F

False